src/autoload.php
cli-config.php

test-reports
.buildpath
.project
.buildpath
.settings/
.idea/
cscope.out
doc/config/phpdoc.ini
doc/html

tests/phpunit.xml


vendor/
tests/jackalope-testing-composer.lock
composer.phar