test-reports
.buildpath
.project
.settings/
cscope.out
doc/config/phpdoc.ini
doc/html

tests/phpunit.xml
.phpunit.result.cache
.php-cs-fixer.cache

composer.lock
vendor/
tests/jackalope-testing-composer.lock
