[submodule "tests/api"]
	path = tests/phpcr-api
	url = git://github.com/phpcr/phpcr-api-tests.git
[submodule "lib/phpcr"]
	path = lib/phpcr
	url = git://github.com/phpcr/phpcr.git
[submodule "lib/phpcr-utils"]
	path = lib/phpcr-utils
	url = git://github.com/phpcr/phpcr-utils.git
