test-reports
.buildpath
.project
.buildpath
.settings/
cscope.out
doc/config/phpdoc.ini
doc/html

/tests/phpunit_jackrabbit.xml
/tests/phpunit_doctrinedbal.xml
/tests/fixtures/doctrine
/tests/phpunit.xml

