<phpunit>
    <php>
        <var name="jcr.url" value="http://localhost:8080/server" />
        <var name="jcr.user" value="admin" />
        <var name="jcr.pass" value="admin" />
        <var name="jcr.workspace" value="tests" />
        <var name="jcr.transport" value="davex" />
    </php>
    
    <!-- TODO: Add proper test suites again -->
</phpunit>
