<phpunit>
    <php>
        <var name="jcr.url" value="http://localhost:8080/server" />
        <var name="jcr.user" value="admin" />
        <var name="jcr.pass" value="admin" />
        <var name="jcr.workspace" value="tests" />
        <var name="jcr.transport" value="davex" />
    </php>
    
    <testsuites>
      <testsuite name="Jackalope Objects">
        <directory>.</directory>
        <file>tests/JackalopeObjects.php</file>
      </testsuite>
      <testsuite name="Implementation Helpers">
        <directory>.</directory>
        <file>tests/ImplementationHelpers.php</file>
      </testsuite>
    </testsuites>
</phpunit>
