<!-- unit level tests for jackalope. please see api-tests for api conformity tests -->
<phpunit bootstrap="bootstrap.php">
    <php>
        <var name="phpcr.url" value="http://localhost:8080/server" />
        <var name="phpcr.user" value="admin" />
        <var name="phpcr.pass" value="admin" />
        <var name="phpcr.workspace" value="tests" />
        <var name="phpcr.transport" value="davex" />
        <var name="phpcr.dbal.driver" value="pdo_mysql" />
        <var name="phpcr.dbal.host" value="localhost" />
        <var name="phpcr.dbal.user" value="admin" />
        <var name="phpcr.dbal.pass" value="admin" />
        <var name="phpcr.dbal.dbname" value="phpcr_tests" />
        <!-- Path to Doctrine stuff for transport -->
        <var name="phpcr.doctrine.loader" value="/path/to/Doctrine/Common/lib/Doctrine/Common/ClassLoader.php" />
        <var name="phpcr.doctrine.commondir" value="/path/to/Doctrine/Common/lib" />
        <var name="phpcr.doctrine.dbaldir" value="/path/to/Doctrine/dbal/lib" />
    </php>

    <testsuites>
        <testsuite name="Jackalope Unit Tests">
            <directory>.</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>../src</directory>
        </whitelist>
        <blacklist>
            <directory>.</directory>
            <directory>../lib</directory>
            <file>../src/Jackalope/autoloader.php</file>
            <file>../src/Jackalope/Transport/curl.php</file>
        </blacklist>
    </filter>
</phpunit>
