<!-- unit level tests for jackalope. please see api-tests for api conformity tests -->
<phpunit bootstrap="bootstrap.php">
    <php>
        <var name="jcr.url" value="http://localhost:8080/server" />
        <var name="jcr.user" value="admin" />
        <var name="jcr.pass" value="admin" />
        <var name="jcr.workspace" value="tests" />
        <var name="jcr.transport" value="davex" />
    </php>

    <testsuites>
        <testsuite name="Jackalope Unit Tests">
            <directory>.</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>../src</directory>
        </whitelist>
        <blacklist>
            <directory>.</directory>
            <directory>../lib</directory>
            <file>../src/Jackalope/autoloader.php</file>
            <file>../src/Jackalope/Transport/curl.php</file>
        </blacklist>
    </filter>
</phpunit>
