<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="true"
         strict="true"
         bootstrap="bootstrap_jackrabbit.php">
    <php>
        <var name="jackrabbit.uri" value="http://localhost:8080/server" />
        <var name="phpcr.user" value="admin" />
        <var name="phpcr.pass" value="admin" />
        <var name="phpcr.workspace" value="default" />
    </php>

    <testsuites>
        <testsuite name="Jackalope Jackrabbit Tests">
            <directory>./Jackalope</directory>
            <directory>./phpcr-api/</directory>
            <exclude>./Jackalope/Transport/DoctrineDBAL</exclude>
        </testsuite>
    </testsuites>

    <!-- configuration for code coverage report -->
    <filter>
        <whitelist>
            <directory>../src</directory>
            <directory>../lib/phpcr</directory>

            <exclude>
                <!-- ignore helpers -->
                <file>../src/Jackalope/autoloader.php</file>
                <file>../src/Jackalope/Transport/curl.php</file>

                <!-- ignore whats not implemented yet -->
                <directory>../lib/phpcr/src/PHPCR/Lock</directory>
                <directory>../lib/phpcr/src/PHPCR/Observation</directory>
                <directory>../lib/phpcr/src/PHPCR/Retention</directory>
                <directory>../lib/phpcr/src/PHPCR/Security</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
