<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="true"
         strict="true"
         bootstrap="bootstrap.php">
    <php>
        <var name="phpcr.url" value="http://localhost:8080/server" />
        <var name="phpcr.user" value="admin" />
        <var name="phpcr.pass" value="admin" />
        <var name="phpcr.workspace" value="tests" />
        <var name="phpcr.transport" value="davex" />
    </php>

    <testsuites>
        <testsuite name="all">
            <directory>suite/tests/</directory>
            <directory>../tests/</directory>
        </testsuite>
        <!-- if phpunit would actually allow to use its config, we could add
            this one and let the caller specify what they want to test
        <testsuite name="api">
            <directory>suite/tests/</directory>
        </testsuite>
        -->
    </testsuites>

    <!-- configuration for code coverage report -->
    <filter>
        <whitelist>
            <directory>../</directory>

            <exclude>
                <!-- ignore the unit tests -->
                <directory>../tests</directory>

                <!-- ignore the api tests -->
                <directory>.</directory>

                <!-- ignore whats not implemented yet -->
                <directory>../lib/phpcr/src/PHPCR/Lock</directory>
                <directory>../lib/phpcr/src/PHPCR/Observation</directory>
                <directory>../lib/phpcr/src/PHPCR/Retention</directory>
                <directory>../lib/phpcr/src/PHPCR/Security</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
