<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
         bootstrap="bootstrap.php">
    <php>
        <var name="jcr.url" value="http://localhost:8080/server" />
        <var name="jcr.user" value="admin" />
        <var name="jcr.pass" value="admin" />
        <var name="jcr.workspace" value="tests" />
        <var name="jcr.transport" value="davex" />
    </php>

    <testsuites>
        <testsuite name="phpCR">
            <directory>suite/tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>../</directory>
            <exclude>
                <directory>../tests</directory>
                <directory>.</directory>
                <file>../src/jackalope/transport/curl.php</file>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
